table,
        td,
        th {
            border: 2px solid #595959;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 3px;
            width: 100px;
            height: 25px;
        }

        th {
            background: #f0e6cc;
        }

        .even {
            background: #fbf8f0;
        }

        .odd {
            background: #fefcf9;
        }